#requirements needed to run this program

PROCESSING 4:
The video module does not work with processing 3.

Processing (Backend)
- gab.OpenCV
- Processing.Video
- java.awt

Processing (Frontend)
- add stuff here guys


Processing (Hardware Control)
- Serial

Arduino:
- Servo 
- Stepper
- Software Serial
