#requirements needed to run this program

Processing (Frontend)
- G4P UI Design Tool
- Serial 

Python (Backend)
- Socket
- PySerial
- OpenCV
- CMake
- GCC

Arduino:
- Servo 
- Stepper
- Software Serial
